<div class="background p-t-3 p-b-3">
  <div class="container">
    <div class="row margin-bottom-20">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2
                  position-relative">
        <div class="img-mask center">
          <img src="/images/myra-durkin.jpg" class="img-mask--img" />
        </div>
      </div>
    </div>
    <div class="row prose">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2 class="text-xs-center">About</h2>

        <p>I am a licensed clinical social worker with a practice in Davis Square, Somerville. I provide psychotherapy and couples counseling to individuals and couples, adolescents and adults. I specialize in sex therapy. In addition, I work with eating disorders, and with performance anxiety and creativity issues in the arts, in athletics and in the workplace. I use traditional psychotherapeutic tools, as well as self-hypnosis and mindfulness meditation.</p>
         
        <h3>Background</h3>
         
        <h5>Education</h5>
        <ul>
          <li>Harvard College</li>
          <li>Simmons School of Social Work</li>
          <li>Post-graduate Fellowship in Short-term Psychotherapy, Harvard Vanguard</li>
        </ul>

        <h5>Certification</h5>
        <ul>
          <li>Certification in Clinical Hypnosis, American Society for Clinical Hypnosis</li>
        </ul>

        <h5>Advanced Training</h5>
        <ul>
          <li>Advanced training in sex therapy, eating disorders, performance issues, mindfulness meditation, therapy for chronic illness and more</li>
        </ul>
         
        <h3>Experience</h3>
         
        <p>I have maintained a private practice for more than 25 years, and have worked as well in community mental health and hospital settings, and in colleges and conservatories. My background as a performing musician has given me a deep interest in performance and creativity issues; I founded the Mind/Body Program at the Longy School of Music in Cambridge, and am a national consultant to colleges and conservatories on performance issues. Other areas of expertise include sex therapy, eating disorders, and self-directed hypnotherapy.</p>
        <ul>
          <li>At the National Association of Social Work Symposium and at the Brookline Center Seminar Series on clinical hypnosis in psychotherapy </li>
          <li>At the Massachusetts Eating Disorders Association Symposium on the efficacy of clinical hypnosis in treating eating disorders</li>
          <li>And many presentations on stress management, mindfulness meditation and relaxation therapy</li>
        </ul>
      </div>
    </div>
  </div>
</div>