<div class="text-on-dark p-t-half p-b-half">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <ul navigation class="row list-unstyled">
        <li class="col-xs-3 text-xs-center">
          <a class="h5 header-type" href="/#/">Home</a>
        </li>
        <li class="col-xs-3 text-xs-center">
          <a class="h5 header-type" href="/#/about">About</a>
        </li>
        <li class="col-xs-3 text-xs-center">
          <a class="h5 header-type" href="/#/practice">Practice</a>
        </li>
        <li class="col-xs-3 text-xs-center">
          <a class="h5 header-type" href="/#/services">Services</a>
        </li>
      </ul>
    </div>
  </div>
</div>