<div class="background-color-purple text-on-dark
            p-t-half p-b-half">
  <div class="container">
    <ul navigation class="row list-unstyled">
      <li class="col-xs-2 text-xs-center">
        <a class="h5 header-type" href="#">Home</a>
      </li>
      <li class="col-xs-2 text-xs-center">
        <a class="h5 header-type" href="#">About</a>
      </li>
      <li class="col-xs-2 text-xs-center">
        <a class="h5 header-type" href="#">Practice</a>
      </li>
      <li class="col-xs-2 text-xs-center">
        <a class="h5 header-type" href="#">Services</a>
      </li>
      <li class="col-xs-2 text-xs-center">
        <a class="h5 header-type" href="#">Contact</a>
      </li>
    </ul>
  </div>
</div>