<div class="background p-t-3 p-b-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2 class="text-xs-center">Practice</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <p>My practice welcomes individuals and couples who want a safe, comfortable and open place to learn more about their concerns and, even more important, their strengths and abilities in their relationships and their lives.  Whether they are or aren’t familiar with mind/body approaches such as self-hypnosis combined with psychotherapy, I collaborate with them so they can choose what works best for them instead of having a treatment or technique selected for them.</p>
 
        <p>I have learned the great efficacy of the mind/body approaches I use from seeing many people who have been in long therapies but have not been able to change how they feel, think and live their lives.  The approaches I use nearly always galvanize their treatment and enable profound and lasting changes to take place, often in six to eight weeks.</p>
         
        <p>I welcome questions and concerns before as well as during treatment.</p>
        
        <h3>Payment</h3>
         
        <p>I ask for payment to be made at each session by either check or cash.  If there is financial hardship, please discuss this with me to determine whether you may have a reduced fee.</p>
         
        <p>I have chosen to practice outside of the managed care networks in order to insure confidentiality, provide the flexibility of choosing the therapist of your choice, and reduce insurance-based costs.  I will give you a receipt to send to your insurance for out-of-network benefits.  You are responsible for knowing your insurance coverage.</p>
      </div>
    </div>
  </div>
</div>