<div class="background p-t-3 p-b-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2
                  position-relative">
        <img src="/images/practice.jpg" 
             class="max-width-100pct margin-bottom-20" />
        <h2 class="text-xs-center header-in-image">Practice</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <p>In my practice I welcome individuals and couples who want a safe, comfortable and open place to learn more about their concerns about their relationships and their lives, and to become accustomed to their strengths and abilities. Some of my clients are already familiar with mind/body approaches such as self-hypnosis combined with psychotherapy when they come to me, and some aren’t. In all cases, I provide necessary information and collaborate with them, so they can choose the approaches they feel will work best for them.</p>
 
        <p>Many of my clients have previously participated in long psychotherapies without being able to change how they feel, think and live their lives. The approaches I use enable many of them to realize profound and lasting changes, often in six to eight weeks.</p>
         
        <p>I welcome questions and concerns before as well as during treatment.</p>
        
        <h3>Payment</h3>
         
        <p>I ask for payment to be made at each session by check or cash. If there is financial hardship, please feel free to discuss with me possible eligibility for a reduced fee.</p>
         
        <p>I have chosen to practice outside of the managed care networks to ensure my clients’ confidentiality, and their right to the therapist of their choice, and to reduce insurance-based costs. I can provide receipts to be sent to insurance companies for out-of-network benefits, but my clients must take responsibility for knowing their own insurance coverage.</p>
      </div>
    </div>
  </div>
</div>