<div class="background p-t-3 p-b-3">
  <div class="container">
    <div class="row margin-bottom-20">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2
                  position-relative">
        <div class="img-mask center">
          <img src="/images/red-flowers.jpg" class="img-mask--img" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 prose">
        <h2 class="text-xs-center">Services</h2>
        <h3>Areas of Specialization</h3>
        <ul class="row">
          <li class="col-xs-12 col-sm-6">Individual Psychotherapy</li>
          <li class="col-xs-12 col-sm-6">Self-Hypnosis based on Mindfulness</li>
          <li class="col-xs-12 col-sm-6">Meditation</li>
          <li class="col-xs-12 col-sm-6">Couples Therapy</li>
          <li class="col-xs-12 col-sm-6">Sex and Intimacy Therapy</li>
          <li class="col-xs-12 col-sm-6">Eating Disorders</li>
          <li class="col-xs-12 col-sm-6">Performance Issues</li>
        </ul>

        <h3 id="self-hypnosis">Self-Hypnosis</h3>
        <p>Self-hypnosis could well be called “mindfulness meditation plus.” It’s much like guided meditation, except the level of relaxation is generally much deeper, and the guiding is tailored for the individual so nothing is imposed. It was declared a valid technique by the American Medical Association in 1958, and its well-researched and evidence-based modern form is used across psychotherapy and medicine. Hundreds of specific protocols are available to help induce change for an immense number of psychological and medical problems.</p>

        <p>The deeply relaxed state evoked by self-hypnosis allows great access to unconscious thoughts and feelings. This allows people to discover they can change the way they feel, and learn how to cope in their own ways. The result is changes to feeling states in the body and the mind, especially a reduction in anxiety, and changes to cognition and behavior. The changes made in self-hypnosis are generally profound, rapid and lasting.</p>

        <p>One of the most powerful uses of self-hypnosis is to reduce anxiety. Since sexual concerns, eating disorders and performance anxiety generally have a large anxiety component, they are particularly amenable to self-hypnosis. They are also mind/body problems, and self-hypnosis is the quintessential mind/body approach. I use self-hypnosis in combination with psychotherapy whenever it may be helpful in producing change more quickly.</p>

        <h3 id="sex-therapy">Sex Therapy</h3>

        <p>Sexuality is a natural part of a person’s makeup. Sexual concerns and intimacy issues are closely interrelated, and acceptance and self-compassion about one’s own sexuality is key to being comfortable with it. I help my clients get to know themselves and their feelings, needs and desires. I work to help couples clarify their attitudes towards sex and intimacy, and I encourage them to practice safe and constructive communication about them. </p>

        <p>I often teach self-hypnosis as an adjunct to sex therapy, especially when anxiety provides an obstacle to comfort, self-acceptance, and trust, as it often does. Self-hypnosis can also lead to insight about unconscious thoughts or feelings, and from there to new ways of coping with old concerns. One example of self-hypnosis in helping with anticipatory anxiety in a sexual encounter is envisioning in great detail a sexual encounter in the deeply relaxed state, seeing and feeling oneself calm, present and able to focus on pleasure as it unfolds.</p>

        <p>I give people information about sexuality, and often prescribe exercises and practices to do at home between sessions. </p>

        <h3 id="eating-disorders">Eating Disorders</h3>

        <p>Eating problems usually encompass feelings and thoughts in addition to behavior and habits. They are also mind/body issues that call for mind/body approaches. When working with clients with eating disorders, I help them to look at all of these areas, and to learn to understand and accept their feelings and thoughts about the particular eating issues troubling them. I use mindfulness meditation and self-hypnosis to help clients focus on their feelings, get at their underlying concerns, conflicts, and coping abilities, and identify behaviors and habits that may have been years in evolution. Self-hypnosis often helps “unstick” people from patterns that have long ensnared them.</p>

        <p>For example, people can reclaim mindfulness of hunger and satiety signals that may have been lost long ago. One helpful self-hypnosis technique is a “hunger hypnosis” that helps people to recognize in their minds and bodies different levels of hunger from starving to comfortable satiety. Such exercises enable my clients gradually to become people who don’t have problems with food, as they were early in life.</p>

        <h3 id="performance-anxiety">Performance Anxiety</h3>

        <p>My background in the performing arts has made me acutely aware of the threat performance anxiety poses to a successful career. People in the creative arts like writers, visual artists and composers may struggle with incapacitating blocks. Athletes, and people whose work demands public speaking and presentations, may suffer as well. I use a combination of psychotherapy and self-hypnosis in these areas because here, too, it has proven dramatically successful.</p>
      </div>
    </div>
  </div>
</div>
