<div class="background p-t-3 p-b-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2 class="text-xs-center">Services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h3>Areas of Specialization</h3>
        <ul> 
          <li>Individual Psychotherapy</li>
          <li>Self-Hypnosis based on Mindfulness</li>
          <li>Meditation</li>
          <li>Couples Therapy</li>
          <li>Sex and Intimacy Therapy</li>
          <li>Eating Disorders</li>
          <li>Performance Issues</li>
          <li>Sex and Intimacy Therapy</li>
        </ul>

        <h3>Self-Hypnosis</h3>
        <p>Self-hypnosis could well be called “mindfulness meditation plus.”  It’s a technique I teach people (I don’t know where to put this). A technique that’s been used in psychotherapy and medicine for many years, it has evolved into a modern form which is well-researched and evidence-based.  It was declared a valid technique by the American Medical Association in 1958, It’s much like guided meditation, except the level of relaxation is generally much deeper, the guiding is tailored for the individual (self) so nothing is imposed on the person (I don’t know what to call the hypnotizee), and there are hundreds of specific protocols to help induce change for an immense number of psychological and medical problems.  It’s self-hypnosis, because, just like meditation, it’s not “done” by anyone else--it’s done by the individual.</p>
 
        <p>In the deeply relaxed state, one has great access to the unconscious and feelings, so people learn they can change the way they feel, learn how to cope in their own ways, and reduce anxiety.  The changes often affect feeling states, cognition and behavior, sometimes all at once.  Feeling states in the body are attended to as much as in the mind.  The changes made in self-hypnosis are generally profound, rapid and lasting.  </p>
 
        <p>I use self-hypnosis in combination with psychotherapy whenever it may be helpful in producing change more quickly.  One of the most powerful uses of it is in lowering anxiety.  Sexual concerns, eating disorders and performance anxiety generally have a large component of anxiety and therefore are particularly amenable to self-hypnosis. They are also mind/body problems, and self-hypnosis is the quintessential mind/body approach.</p>
 
        <h3>Sex Therapy</h3>
 
        <p>In my practice, I try to provide an atmosphere of safety, compassion, and freedom from judgment so people can explore their wishes, needs and feelings about sexuality and intimacy in a comfortable way.</p>
 
        <p>Sexual concerns and intimacy issues are closely interrelated.  I want to help people get to know themselves, their feelings, needs and desires. Sexuality is a natural part of people’s make-up, and acceptance and self-compassion about one’s own sexuality is key to being comfortable with it. When I see couples, I help them clarify what each of their needs, feelings and desires are about both sex and intimacy, and I discuss and encourage safe and constructive communication about them.</p>
 
        <p>I often teach self-hypnosis as an adjunct to the therapy, especially when someone is experiencing anxiety, a common obstacle to comfort, self-acceptance and trust..  It can also lead to insight about unconscious thoughts or feelings, to ways they can cope with concerns, and more.</p>
 
        <p>An example of self-hypnosis in helping with anticipatory anxiety in a sexual encounter is envisioning in great detail a sexual encounter in the deeply relaxed state, seeing and feeling oneself calm and present and able to focus on pleasure as it unfolds.</p>
 
        <p>I give people information about sexuality, and often prescribe exercises and and practices to do at home between sessions (never in the office). </p>
 
        <h3>Eating disorders</h3>
 
        <p>Eating problems usually encompass feelings, thoughts, behavior, habits and more.  I feel it’s important to look at all of these areas with someone I’m working with to address all of the issues affecting them.</p>
 
        <p>Eating problems are mind/body issues which call for mind/body appproaches.  I help people understand and accept their feelings and thoughts about their particular eating issues, and also use techniques such as mindfulness meditation and self-hypnosis to focus on feelings, get at underlying concerns, conflicts and coping abilities, as well as behaviors and habits that have evolved, often for long periods of time.  Self-hypnosis often gets people “unstuck” from feelings and patterns that have long ensnared them.</p>
 
        <p>I believe, and research has shown, that focusing on the feelings that engender eating-disordered behaviors and at the same time dealing with thoughts and behavior is the best approach to these issues.  Awareness  of feelings leading to unwanted behaviors and learning what to do with these feelings is key. </p>
 
        <p>My experience has shown me that people usually have to let go of many old beliefs about eating which are based on external rules or prescriptions.  I feel people need to gradually become like people who don’t have problems with food, so that their eating is mindful and based on hunger and satiety signals, as in early life.  One technique in self-hypnosis which is extremely helpful for this transformation is a “hunger hypnosis” which helps people to recognize in their minds and bodies different levels of hunger from starving to comfortable satiety.</p>
 
        <h3>Eating Disorders</h3>
 
        <p>Because of my background in the performing arts, I am acutely aware of the difficult issue of performance anxiety.  People in the creative arts, such as visual artists and writers (where writer’s block can be the problem), athletes and anyone in a workplace or other setting which requires presentations often struggle with anxiety.  I use a combination of psychotherapy and self-hypnosis in my work in these areas and this combination has dramatically helped many people resolve these issues.</p>
 
 
      </div>
    </div>
  </div>
</div>